@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
ol,
progress,
div,
header,
section,
footer,
main {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #111111;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #2b2a2a;
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background-color: rgba(255, 177, 10, 0.996);
  border-radius: 3px;
}

#header header .desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: fixed;
  z-index: 10;
  right: 20px;
}
#header header .desktop-menu ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
  justify-items: end;
}
#header header .desktop-menu ul .header-link {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #dcdcdc;
  background-color: #2b2a2a;
  padding: 20px;
  border-radius: 50%;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
#header header .desktop-menu ul .header-link:hover {
  color: #ffffff;
  background-color: rgba(255, 177, 10, 0.996);
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
          box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
}
#header header .desktop-menu ul .header-link .icon {
  font-size: 18px;
}
#header header .desktop-menu ul .header-link span {
  display: none;
  margin-right: 20px;
}
#header header .desktop-menu ul .header-link-active {
  color: #ffffff;
  background-color: rgba(255, 177, 10, 0.996);
}
#header header .desktop-menu ul .header-link-hover {
  border-radius: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#header header .desktop-menu ul .header-link-hover span {
  display: block;
}
#header header .mobile-menu-block {
  display: none;
}
#header header .mobile-menu-block .switch-menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 5px;
  color: #dcdcdc;
  text-decoration: none;
  background-color: #2b2a2a;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100;
  top: 20px;
  right: 20px;
}
#header header .mobile-menu-block .mobile-menu {
  width: 0%;
  min-height: 100vh;
  background: #2b2a2a;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  overflow: hidden;
}
#header header .mobile-menu-block .mobile-menu ul {
  margin-top: 65px;
  padding: 0 25px;
}
#header header .mobile-menu-block .mobile-menu ul li {
  border-bottom: 1px solid #a5a5a5;
}
#header header .mobile-menu-block .mobile-menu ul li:last-child {
  border-bottom: none;
}
#header header .mobile-menu-block .mobile-menu ul li .header-link {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  padding: 20px 0;
  font-size: 25px;
  text-transform: uppercase;
}
#header header .mobile-menu-block .mobile-menu ul li .header-link:hover span {
  color: rgba(255, 177, 10, 0.996);
}
#header header .mobile-menu-block .mobile-menu ul li .header-link span {
  margin-left: 20px;
}
#header header .mobile-menu-block .mobile-menu ul li .header-link-active {
  color: rgba(255, 177, 10, 0.996);
}
#header header .mobile-menu-block .mobile-menu-active {
  width: 100%;
}

.preloader {
  position: fixed;
  height: 100vh;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 9999;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}
.preloader .preloader-line {
  width: 100%;
  height: 10%;
  background-color: #2b2a2a;
}
.preloader .preloader-bg {
  width: 100%;
  height: 90%;
  background-color: #111111;
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

.preloader-hide {
  -webkit-transition: all 0.5 linear;
  transition: all 0.5 linear;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}
.home .color-bg-block {
  background-color: rgba(255, 177, 10, 0.996);
  width: 25%;
  height: 150vh;
  top: -20%;
  left: -75px;
  position: fixed;
  z-index: -1;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
.home .container {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home .container main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.home .container main .img-block {
  width: 40%;
  height: 90%;
  border-radius: 20px;
  background-color: #000;
  background-image: url("../img/zwartevilt.png");
  background-repeat: repeat;
  -webkit-box-shadow: 0px 8px 15px 7px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 15px 7px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.home .container main .img-block img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .container main .info {
  width: 50%;
  color: #ffffff;
}
.home .container main .info h1 {
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.home .container main .info h1 span {
  display: block;
  color: rgba(255, 177, 10, 0.996);
}
.home .container main .info p {
  font-size: 18px;
  line-height: 1.9;
  padding-bottom: 20px;
}
.home .container main .info .more-info-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  padding: 20px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 177, 10, 0.996);
  border-radius: 2em;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
.home .container main .info .more-info-btn::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(255, 177, 10, 0.996);
  z-index: -1;
  border-radius: 10%;
}
.home .container main .info .more-info-btn:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
          box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
}
.home .container main .info .more-info-btn:hover::before {
  width: 110%;
}
.home .container main .info .more-info-btn .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  padding: 21px;
  border-radius: 50%;
  background-color: rgba(255, 177, 10, 0.996);
}

#about {
  width: 90;
}
#about .title-section {
  width: 100%;
  padding: 35px 10px;
  position: relative;
}
#about .title-section h1 {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#about .title-section h1 span {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 177, 10, 0.996);
}
#about .title-section .bg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 110px;
  text-transform: uppercase;
  color: #2b2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}
#about .about-me-block {
  width: 82%;
  max-width: 1200px;
  margin: 0 auto;
}
#about .about-me-block .about-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#about .about-me-block .about-info .info h3 {
  color: #ffffff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#about .about-me-block .about-info .info .presonal-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
#about .about-me-block .about-info .info .presonal-info p {
  padding: 10px 0;
  color: #dcdcdc;
}
#about .about-me-block .about-info .info .presonal-info p span {
  color: #ffffff;
}
#about .about-me-block .about-info .achievements {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}
#about .about-me-block .about-info .achievements .item {
  padding: 25px 40px;
  border: 1px solid #2b2a2a;
  border-radius: 3px;
}
#about .about-me-block .about-info .achievements .item .count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  font-family: "Poppins", sans-serif;
  color: rgba(255, 177, 10, 0.996);
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 10px;
}
#about .about-me-block .about-info .achievements .item .count span {
  font-weight: normal;
  font-size: 30px;
}
#about .about-me-block .about-info .achievements .item .description {
  padding-left: 25px;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
}
#about .about-me-block .about-info .achievements .item .description::after {
  content: "";
  width: 25px;
  height: 1px;
  position: absolute;
  left: -10px;
  top: 5px;
  background-color: #2b2a2a;
}
#about .about-me-block .me-skills {
  padding-top: 50px;
}
#about .about-me-block .me-skills h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
}
#about .about-me-block .me-skills h2::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 1px;
  background-color: #2b2a2a;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#about .about-me-block .me-skills .skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 25px;
}
#about .about-me-block .me-skills .skills-block .item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#about .about-me-block .me-skills .skills-block .item .persent-circle-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
#about .about-me-block .me-skills .skills-block .item .persent-circle-block svg .progress-ring-circle-bg {
  stroke: #2b2a2a;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  fill: transparent;
}
#about .about-me-block .me-skills .skills-block .item .persent-circle-block svg .progress-ring-circle {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  stroke: rgba(255, 177, 10, 0.996);
  fill: transparent;
}
#about .about-me-block .me-skills .skills-block .item .persent-circle-block span {
  position: absolute;
  color: #ffffff;
  top: 50%;
  font-size: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#about .about-me-block .me-skills .skills-block .item p {
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 0 50px 0;
}

#contact {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
#contact .title-section {
  width: 100%;
  padding: 35px 10px;
  position: relative;
}
#contact .title-section h1 {
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  color: #ffffff;
  font-size: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#contact .title-section h1 span {
  font-family: "Poppins", sans-serif;
  color: rgba(255, 177, 10, 0.996);
}
#contact .title-section .bg-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 110px;
  text-transform: uppercase;
  color: #2b2a2a;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  letter-spacing: 5px;
}
#contact .me-contact section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
}
#contact .me-contact section .info h3 {
  font-size: 25px;
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#contact .me-contact section .info .description {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.9;
  padding-bottom: 20px;
}
#contact .me-contact section .info .contact-data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 1fr;
  grid-template-columns: 50px 1fr;
  padding-bottom: 20px;
}
#contact .me-contact section .info .contact-data .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  color: rgba(255, 177, 10, 0.996);
  padding-right: 10px;
}
#contact .me-contact section .info .contact-data p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
}
#contact .me-contact section .info .contact-data p span {
  text-transform: uppercase;
  color: #dcdcdc;
}
#contact .me-contact section .info .social-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#contact .me-contact section .info .social-block .social-link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 20px;
  color: #dcdcdc;
  margin-right: 10px;
  background-color: #2b2a2a;
}
#contact .me-contact section .info .social-block .social-link:hover {
  color: #ffffff;
  background-color: rgba(255, 177, 10, 0.996);
}
#contact .me-contact section .contact-form {
  padding: 0 25px;
}
#contact .me-contact section .contact-form .top-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
#contact .me-contact section .contact-form .top-inputs .input-block {
  position: relative;
}
#contact .me-contact section .contact-form .top-inputs .input-block input {
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #2b2a2a;
  color: #ffffff;
  border: 1px solid transparent;
  outline: none;
}
#contact .me-contact section .contact-form .top-inputs .input-block input:hover {
  border: 1px solid rgba(255, 177, 10, 0.996);
}
#contact .me-contact section .contact-form .top-inputs .input-block input:focus {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
          box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
  border: 1px solid rgba(255, 177, 10, 0.996);
}
#contact .me-contact section .contact-form .input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-bottom: 60px;
}
#contact .me-contact section .contact-form .input-block textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  background-color: #2b2a2a;
  color: #ffffff;
  border: 1px solid transparent;
  outline: none;
  resize: vertical;
  min-height: 200px;
}
#contact .me-contact section .contact-form .input-block textarea::-webkit-scrollbar {
  width: 0px;
  background-color: #2b2a2a;
}
#contact .me-contact section .contact-form .input-block textarea:hover {
  border: 1px solid rgba(255, 177, 10, 0.996);
}
#contact .me-contact section .contact-form .input-block textarea:focus {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
          box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
  border: 1px solid rgba(255, 177, 10, 0.996);
}
#contact .me-contact section .contact-form .input-block .error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  padding: 10px;
  border-radius: 25px;
  position: absolute;
  top: -50px;
  color: #ffffff;
  background-color: #ff0019;
}
#contact .me-contact section .contact-form .send-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 250px;
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid rgba(255, 177, 10, 0.996);
  border-radius: 2em;
  text-decoration: none;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
#contact .me-contact section .contact-form .send-message::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(255, 177, 10, 0.996);
  z-index: -1;
  border-radius: 10%;
}
#contact .me-contact section .contact-form .send-message:hover {
  -webkit-box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
          box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
}
#contact .me-contact section .contact-form .send-message:hover::before {
  width: 110%;
}
#contact .me-contact section .contact-form .send-message .icon-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  padding: 21px;
  border-radius: 50%;
  background-color: rgba(255, 177, 10, 0.996);
}
#contact .complite-message {
  margin: 25px 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  border-radius: 25px;
  background-color: rgba(33, 237, 33, 0.975);
}

@media screen and (max-width: 1060px) {
  #about .about-me-block .about-info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #about .about-me-block .about-info .info {
    padding-bottom: 20px;
  }

  #contact {
    width: 100%;
  }
  #contact .me-contact section {
    margin: 0 auto;
    width: 80%;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #contact .me-contact section .info {
    margin-bottom: 60px;
  }
  #contact .me-contact section .info h3 {
    text-align: center;
  }
  #contact .me-contact section .contact-form {
    padding: 0;
  }
}
@media screen and (max-width: 900px) {
  #header header .desktop-menu {
    display: none;
  }
  #header header .mobile-menu-block {
    display: block;
  }

  .home .color-bg-block {
    display: none;
  }
  .home .container main {
    padding-top: 50px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home .container main .img-block {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #2b2a2a;
  }
  .home .container main .info {
    width: 100%;
    padding: 40px 0 0 0;
    text-align: center;
  }
  .home .container main .info .more-info-btn {
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  #about .about-me-block .me-skills .skills-block .item {
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  #header header .mobile-menu-block .switch-menu__btn {
    top: 10px;
    right: 10px;
  }

  #about .title-section {
    background-color: #2b2a2a;
    padding: 22px;
    margin-bottom: 30px;
  }
  #about .title-section h1 {
    font-size: 25px;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #about .title-section .bg-title {
    display: none;
    font-size: 80px;
  }
  #about .about-me-block .about-info .achievements {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  #contact .title-section {
    background-color: #2b2a2a;
    padding: 22px;
    margin-bottom: 30px;
  }
  #contact .title-section h1 {
    font-size: 25px;
    position: static;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  #contact .title-section .bg-title {
    display: none;
    font-size: 80px;
  }
  #contact .me-contact section {
    width: 100%;
    padding: 0 15px;
  }
  #contact .me-contact section .contact-form-block .contact-form .top-inputs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #contact .me-contact section .contact-form-block .contact-form .input-block {
    margin-bottom: 25px;
  }
  #contact .me-contact section .contact-form-block .contact-form .error-message {
    width: 200px;
    position: static;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 420px) {
  #about .about-me-block .about-info .info .presonal-info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}