// Font Roboto 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Poppins', sans-serif;

$accentColor: rgba(255, 177, 10, 0.996);
$noAccentColor: #2b2a2a;

$textColor: #ffffff;
$titleLetterSpacing: 5px;

$linkColor: #dcdcdc;
$linkColorActive: #ffffff;
$theamColor: #111111;
$outlineColor: #a5a5a5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
ol,
progress,
div,
header,
section,
footer,
main {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: $theamColor;
}

//scroll-bar style start
::-webkit-scrollbar {
    width: 4px;
    background-color: $noAccentColor;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: $accentColor;
    border-radius: 3px;
}

//scroll-bar style end

//Header start
#header header {


    .desktop-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: fixed;
        z-index: 10;
        right: 20px;

        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            justify-items: end;

            .header-link {
                box-sizing: content-box;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row-reverse;
                color: $linkColor;
                background-color: $noAccentColor;
                padding: 20px;
                border-radius: 50%;
                text-decoration: none;
                text-transform: uppercase;
                transition: background-color 0.2s ease-out;

                &:hover {
                    color: $linkColorActive;
                    background-color: $accentColor;
                    box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    display: none;
                    margin-right: 20px;
                }
            }

            .header-link-active {
                color: $linkColorActive;
                background-color: $accentColor;
            }

            .header-link-hover {
                border-radius: 25px;
                justify-content: space-between;

                span {
                    display: block;

                }
            }
        }
    }

    .mobile-menu-block {
        display: none;

        .switch-menu__btn {
            display: flex;
            width: 50px;
            height: 50px;
            font-size: 20px;
            border-radius: 5px;
            color: #dcdcdc;
            text-decoration: none;
            background-color: $noAccentColor;
            justify-content: center;
            align-items: center;

            position: absolute;
            z-index: 100;
            top: 20px;
            right: 20px;
        }

        .mobile-menu {
            width: 0%;
            min-height: 100vh;
            background: $noAccentColor;
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
            transition: width 0.2s ease-out;
            overflow: hidden;

            ul {
                margin-top: 65px;
                padding: 0 25px;


                li {
                    border-bottom: 1px solid $outlineColor;

                    &:last-child {
                        border-bottom: none;
                    }

                    .header-link {
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        padding: 20px 0;
                        font-size: 25px;
                        text-transform: uppercase;

                        &:hover span {
                            color: $accentColor;
                        }

                        span {
                            margin-left: 20px;
                        }
                    }

                    .header-link-active {
                        color: $accentColor;
                    }
                }
            }
        }

        .mobile-menu-active {
            width: 100%;
        }
    }

}

// Header end


// Preloader start
.preloader {
    position: fixed;
    height: 100vh;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 9999;
    transition: all 0.5 linear;

    .preloader-line {
        width: 100%;
        height: 10%;
        background-color: $noAccentColor;
    }

    .preloader-bg {
        width: 100%;
        height: 90%;
        background-color: $theamColor;
        transition: all 0.5 linear;
    }

    // .preloader-bg-hide {
    //     height: 0%;
    // }
}

.preloader-hide {
    // height: 0vh;
    transition: all 0.5 linear;
}

// Preloader end


// Home page start
.home {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    .color-bg-block {
        background-color: $accentColor;
        width: 25%;
        height: 150vh;
        top: -20%;
        left: -75px;
        position: fixed;
        z-index: -1;
        transform: rotate(-15deg);
    }

    .container {
        width: 95%;
        display: flex;

        main {
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .img-block {
                width: 40%;
                height: 90%;
                border-radius: 20px;
                background-color: #000;
                background-image: url('../img/zwartevilt.png');
                background-repeat: repeat;
                box-shadow: 0px 8px 15px 7px rgba(0, 0, 0, 0.5);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                }
            }

            .info {
                width: 50%;
                color: #ffffff;

                h1 {
                    font-size: 40px;
                    text-transform: uppercase;
                    padding-bottom: 25px;

                    span {
                        display: block;
                        color: $accentColor;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 1.9;
                    padding-bottom: 20px;
                }

                .more-info-btn {
                    display: flex;
                    max-width: 300px;
                    padding: 20px;
                    position: relative;
                    justify-content: center;
                    border: 1px solid $accentColor;
                    border-radius: 2em;
                    text-decoration: none;
                    color: #ffffff;
                    text-align: center;
                    text-transform: uppercase;
                    overflow: hidden;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0%;
                        height: 100%;
                        transition: all 0.2s linear;
                        background-color: $accentColor;
                        z-index: -1;
                        border-radius: 10%;
                    }

                    &:hover {
                        box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);

                        &::before {
                            width: 110%;
                        }
                    }

                    .icon-block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 21px;
                        border-radius: 50%;
                        background-color: $accentColor;
                    }
                }
            }
        }
    }

}

// Home page end


// About page start
#about {
    width: 90;

    .title-section {
        width: 100%;
        padding: 35px 10px;
        position: relative;


        h1 {
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            color: $textColor;
            font-size: 50px;
            transform: translate(-50%, -50%);

            span {
                font-family: 'Poppins', sans-serif;
                color: $accentColor;
            }
        }

        .bg-title {

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110px;
            text-transform: uppercase;
            color: $noAccentColor;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            letter-spacing: $titleLetterSpacing;
        }
    }

    .about-me-block {
        width: 82%;
        max-width: 1200px;
        margin: 0 auto;

        .about-info {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .info {

                h3 {
                    color: $textColor;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                ;

                .presonal-info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    p {
                        padding: 10px 0;
                        color: $linkColor;

                        span {
                            color: $textColor;
                        }
                    }
                }
            }

            .achievements {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 25px;

                .item {
                    padding: 25px 40px;
                    border: 1px solid $noAccentColor;
                    border-radius: 3px;

                    .count {
                        display: flex;
                        align-items: start;
                        font-family: 'Poppins', sans-serif;
                        color: $accentColor;
                        font-size: 45px;
                        font-weight: 700;
                        padding-bottom: 10px;

                        span {
                            font-weight: normal;
                            font-size: 30px;
                        }
                    }

                    .description {
                        padding-left: 25px;
                        color: $textColor;
                        position: relative;
                        text-transform: uppercase;

                        &::after {
                            content: '';
                            width: 25px;
                            height: 1px;
                            position: absolute;
                            left: -10px;
                            top: 5px;
                            background-color: $noAccentColor;
                        }
                    }
                }
            }
        }

        .me-skills {
            padding-top: 50px;

            h2 {
                padding-top: 30px;
                text-align: center;
                font-size: 25px;
                color: $textColor;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 300px;
                    height: 1px;
                    background-color: $noAccentColor;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .skills-block {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 25px;

                .item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .persent-circle-block {
                        display: flex;
                        justify-content: center;
                        position: relative;

                        svg {

                            .progress-ring-circle-bg {
                                stroke: $noAccentColor;
                                transform-origin: center;
                                transform: rotate(-90deg);
                                fill: transparent;
                            }

                            .progress-ring-circle {
                                transform-origin: center;
                                transform: rotate(-90deg);
                                stroke: $accentColor;
                                fill: transparent;
                            }
                        }

                        span {
                            position: absolute;
                            color: $textColor;
                            top: 50%;
                            font-size: 30px;
                            transform: translateY(-50%);
                        }
                    }

                    p {
                        text-align: center;
                        color: $textColor;
                        text-transform: uppercase;
                        font-size: 18px;
                        padding: 10px 0 50px 0;
                    }
                }
            }
        }
    }
}

// About page end


// Contact page start
#contact {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .title-section {
        width: 100%;
        padding: 35px 10px;
        position: relative;


        h1 {
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            color: $textColor;
            font-size: 50px;
            transform: translate(-50%, -50%);

            span {
                font-family: 'Poppins', sans-serif;
                color: $accentColor;
            }
        }

        .bg-title {

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110px;
            text-transform: uppercase;
            color: $noAccentColor;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            letter-spacing: $titleLetterSpacing;
        }
    }
}
// Contact page end

@media screen and (max-width: 1060px) {
    #about {

        .about-me-block {
            .about-info {
                grid-template-columns: 1fr;

                .info {
                    padding-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    #header header {
        .desktop-menu {
            display: none;
        }

        .mobile-menu-block {
            display: block;
        }
    }

    .home {
        .color-bg-block {
            display: none;
        }

        .container main {
            padding-top: 50px;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;

            .img-block {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $noAccentColor;
            }

            .info {
                width: 100%;

                padding: 40px 0 0 0;
                text-align: center;

                .more-info-btn {
                    margin: 0 auto;
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    #about {
        .about-me-block {
            .me-skills {
                .skills-block {
                    .item {
                        width: 50%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 650px){
    #about {
        .title-section {
            h1 {
                font-size: 40px;
            }
            .bg-title {
                font-size: 80px;
            }
        }
        .about-me-block {
            .about-info {
                .achievements {
                    grid-template-columns: 1fr;
                }
            }
        }
    }
}

@media screen and (max-width: 420px){
    #about {
        .title-section {
            h1 {
                font-size: 30px;
            }

            .bg-title {
                font-size: 50px;
            }
        }

        .about-me-block {
            .about-info {
                .info {
                    .presonal-info {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}