// Font Roboto 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
// font-family: 'Roboto', sans-serif;

// Font Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
// font-family: 'Poppins', sans-serif;

$accentColor: rgba(255, 177, 10, 0.996);
$errorBgColor: rgb(255, 0, 25);
$compliteBgColor: rgba(33, 237, 33, 0.975);
$noAccentColor: #2b2a2a;

$textColor: #ffffff;
$titleLetterSpacing: 5px;

$linkColor: #dcdcdc;
$linkColorActive: #ffffff;
$theamColor: #111111;
$outlineColor: #a5a5a5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
p,
span,
ul,
li,
ol,
progress,
div,
header,
section,
footer,
main {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: $theamColor;
    
    
}

::selection {
    background-color: $accentColor;
    color: #fff;
}

//scroll-bar style start
::-webkit-scrollbar {
    width: 4px;
    background-color: $noAccentColor;
}

::-webkit-scrollbar-thumb {
    width: 100%;
    background-color: $accentColor;
    border-radius: 3px;
}

//scroll-bar style end

//Header start
#header header {


    .desktop-menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        position: fixed;
        z-index: 10;
        right: 20px;

        ul {
            display: grid;
            grid-template-columns: 1fr;
            grid-row-gap: 20px;
            justify-items: end;

            .header-link {
                box-sizing: content-box;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row-reverse;
                color: $linkColor;
                background-color: $noAccentColor;
                padding: 20px;
                border-radius: 50%;
                text-decoration: none;
                text-transform: uppercase;
                transition: background-color 0.2s ease-out;

                &:hover {
                    color: $linkColorActive;
                    background-color: $accentColor;
                    box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
                }

                .icon {
                    font-size: 18px;
                }

                span {
                    display: none;
                    margin-right: 20px;
                }
            }

            .header-link-active {
                color: $linkColorActive;
                background-color: $accentColor;
            }

            .header-link-hover {
                border-radius: 25px;
                justify-content: space-between;

                span {
                    display: block;

                }
            }
        }
    }

    .mobile-menu-block {
        display: none;

        .switch-menu__btn {
            display: flex;
            width: 50px;
            height: 50px;
            font-size: 20px;
            border-radius: 5px;
            color: $linkColor;
            text-decoration: none;
            outline: none;
            border: none;
            background-color: $noAccentColor;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            position: fixed;
            z-index: 100;
            top: 20px;
            right: 20px;

            &:hover {
                font-size: 22px;
                color: $linkColorActive;
            }
        }

        .mobile-menu {
            width: 0%;
            height: 100vh;
            background: $noAccentColor;
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            transition: width 0.2s ease-out;
            overflow: hidden;

            ul {
                margin-top: 65px;
                padding: 0 25px;


                li {
                    cursor: pointer;
                    border-bottom: 1px solid $outlineColor;

                    &:last-child {
                        border-bottom: none;
                    }

                    .header-link {
                        color: #ffffff;
                        display: flex;
                        align-items: center;
                        text-decoration: none;
                        padding: 20px 0;
                        font-size: 25px;
                        text-transform: uppercase;

                        &:hover span {
                            color: $accentColor;
                        }

                        span {
                            margin-left: 20px;
                        }
                    }

                    .header-link-active {
                        color: $accentColor;
                    }
                }
            }
        }

        .mobile-menu-active {
            width: 100%;
            overflow: auto;
        }
    }

}

// Header end


// Preloader start
.preloader {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 9999;
    transition: all 0.5 linear;

    .preloader-line {
        width: 100%;
        height: 10%;
        background-color: $noAccentColor;
    }

    .preloader-bg {
        width: 100%;
        height: 90%;
        background-color: $theamColor;
        transition: all 0.5 linear;
    }
}

.preloader-hide {
    transition: all 0.5 linear;
}

// Preloader end


// Home page start
.home {
    display: flex;
    justify-content: center;
    min-height: 100vh;

    .color-bg-block {
        background-color: $accentColor;
        width: 25%;
        height: 150vh;
        top: -20%;
        left: -75px;
        position: fixed;
        z-index: -1;
        transform: rotate(-15deg);
    }

    .container {
        width: 95%;
        display: flex;

        main {
            display: flex;
            width: 90%;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .img-block {
                width: 40%;
                height: 90%;
                border-radius: 20px;
                background-color: #000;
                background-image: url('../img/zwartevilt.png');
                background-repeat: repeat;
                box-shadow: 0px 8px 15px 7px rgba(0, 0, 0, 0.5);
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    object-fit: cover;
                }
            }

            .info {
                width: 50%;
                color: #ffffff;

                h1 {
                    font-size: 40px;
                    text-transform: uppercase;
                    padding-bottom: 25px;

                    span {
                        display: block;
                        color: $accentColor;
                    }
                }

                p {
                    font-size: 18px;
                    line-height: 1.9;
                    padding-bottom: 20px;
                }

                .more-info-btn {
                    display: flex;
                    max-width: 300px;
                    padding: 20px;
                    position: relative;
                    justify-content: center;
                    border: 1px solid $accentColor;
                    border-radius: 2em;
                    text-decoration: none;
                    color: #ffffff;
                    text-align: center;
                    text-transform: uppercase;
                    overflow: hidden;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0%;
                        height: 100%;
                        transition: all 0.2s linear;
                        background-color: $accentColor;
                        z-index: -1;
                        border-radius: 10%;
                    }

                    &:hover {
                        box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);

                        &::before {
                            width: 110%;
                        }
                    }

                    .icon-block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 21px;
                        border-radius: 50%;
                        background-color: $accentColor;
                    }
                }
            }
        }
    }

}

// Home page end


// About page start
#about {
    width: 90;

    .title-section {
        width: 100%;
        padding: 35px 10px;
        position: relative;


        h1 {
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            color: $textColor;
            font-size: 50px;
            transform: translate(-50%, -50%);

            span {
                font-family: 'Poppins', sans-serif;
                color: $accentColor;
            }
        }

        .bg-title {

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110px;
            text-transform: uppercase;
            color: $noAccentColor;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            letter-spacing: $titleLetterSpacing;
        }
    }

    .about-me-block {
        width: 82%;
        max-width: 1200px;
        margin: 0 auto;

        .about-info {
            display: grid;
            grid-template-columns: 1fr 1fr;

            .info {

                h3 {
                    color: $textColor;
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                ;

                .presonal-info {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    p {
                        padding: 10px 0;
                        color: $linkColor;

                        span {
                            color: $textColor;
                        }
                    }
                }

                .open-modal-btn {
                    margin-top: 20px;
                    display: flex;
                    min-width: 200px;
                    padding: 20px;
                    position: relative;
                    padding-left: 30px;
                    background-color: transparent;
                    border: 1px solid $accentColor;
                    border-radius: 2em;
                    text-decoration: none;
                    color: #ffffff;

                    text-transform: uppercase;
                    overflow: hidden;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 0%;
                        height: 100%;
                        transition: all 0.2s linear;
                        background-color: $accentColor;
                        z-index: -1;
                        border-radius: 10%;
                    }

                    &:hover {
                        box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);

                        &::before {
                            width: 110%;
                        }
                    }

                    .icon-block {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: 0;
                        top: 0;
                        padding: 21px;
                        border-radius: 50%;
                        background-color: $accentColor;
                    }
                }
            }

            .achievements {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 25px;

                .item {
                    padding: 25px 40px;
                    border: 1px solid $noAccentColor;
                    border-radius: 3px;

                    .count {
                        display: flex;
                        align-items: start;
                        font-family: 'Poppins', sans-serif;
                        color: $accentColor;
                        font-size: 45px;
                        font-weight: 700;
                        padding-bottom: 10px;

                        span {
                            font-weight: normal;
                            font-size: 30px;
                        }
                    }

                    .description {
                        padding-left: 25px;
                        color: $textColor;
                        position: relative;
                        text-transform: uppercase;

                        &::after {
                            content: '';
                            width: 25px;
                            height: 1px;
                            position: absolute;
                            left: -10px;
                            top: 5px;
                            background-color: $noAccentColor;
                        }
                    }
                }
            }
        }

        .me-skills {
            padding-top: 50px;

            h2 {
                padding-top: 30px;
                text-align: center;
                font-size: 25px;
                color: $textColor;
                text-transform: uppercase;
                position: relative;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 300px;
                    height: 1px;
                    background-color: $noAccentColor;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .skills-block {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                padding-top: 25px;

                .item {
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    .persent-circle-block {
                        display: flex;
                        justify-content: center;
                        position: relative;

                        svg {

                            .progress-ring-circle-bg {
                                stroke: $noAccentColor;
                                transform-origin: center;
                                transform: rotate(-90deg);
                                fill: transparent;
                            }

                            .progress-ring-circle {
                                transform-origin: center;
                                transform: rotate(-90deg);
                                stroke: $accentColor;
                                fill: transparent;
                            }
                        }

                        span {
                            position: absolute;
                            color: $textColor;
                            top: 50%;
                            font-size: 30px;
                            transform: translateY(-50%);
                        }
                    }

                    p {
                        text-align: center;
                        color: $textColor;
                        text-transform: uppercase;
                        font-size: 18px;
                        padding: 10px 0 50px 0;
                    }
                }
            }
        }
    }
}


// About modal window start 
#modalWindow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    .cover {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.40);
        backdrop-filter: blur(5px);
        cursor: pointer;
    }

    .modal-block {
        position: relative;
        width: 90%;
        max-width: 600px;
        padding: 0 25px;
        background-color: $theamColor;
        border-radius: 5px;

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            border: none;
            color: $linkColor;
            font-size: 20px;
            background-color: $noAccentColor;
            cursor: pointer;

            .icon {
                transition: all 0.2s ease-out;
                transform: rotate(0deg);
            }

            &:hover .icon {
                transition: all 0.2s ease-out;
                transform: rotate(180deg);
            }
        }

        h3 {
            padding-top: 25px;
            font-size: 25px;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: $textColor;
        }


        .select-lang-block {

            padding: 80px 0; 
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25px;

            .download-link {
                display: flex;
                justify-content: center;
                padding: 20px;
                position: relative;

                background-color: transparent;
                border: 1px solid $accentColor;
                border-radius: 2em;
                text-decoration: none;
                color: #ffffff;

                text-transform: uppercase;
                overflow: hidden;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    transition: all 0.2s linear;
                    background-color: $accentColor;
                    z-index: -1;
                    border-radius: 10%;
                }

                &:hover {
                    box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);

                    &::before {
                        width: 110%;
                    }
                }

                .icon-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 21px;
                    border-radius: 50%;
                    background-color: $accentColor;
                }
            }
        }


    }


}

//About modal window end

// About page end


// Contact page start
#contact {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .title-section {
        width: 100%;
        padding: 35px 10px;
        position: relative;


        h1 {
            position: absolute;
            text-transform: uppercase;
            top: 50%;
            left: 50%;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            color: $textColor;
            font-size: 50px;
            transform: translate(-50%, -50%);

            span {
                font-family: 'Poppins', sans-serif;
                color: $accentColor;
            }
        }

        .bg-title {

            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 110px;
            text-transform: uppercase;
            color: $noAccentColor;
            font-family: 'Poppins', sans-serif;
            font-weight: 900;
            letter-spacing: $titleLetterSpacing;
        }
    }

    .me-contact section {
        display: grid;
        grid-template-columns: 1fr 2fr;

        .info {
            h3 {
                font-size: 25px;
                color: $textColor;
                text-transform: uppercase;
                padding-bottom: 20px;
            }

            .description {
                color: $textColor;
                font-size: 14px;
                line-height: 1.9;
                padding-bottom: 20px;
            }

            .contact-data {
                display: grid;
                grid-template-columns: 50px 1fr;
                padding-bottom: 20px;

                .icon-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 35px;
                    color: $accentColor;
                    padding-right: 10px;
                }

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: $textColor;

                    span {
                        text-transform: uppercase;
                        color: $linkColor;
                    }
                }
            }

            .social-block {
                display: flex;
                align-items: center;

                .social-link {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 20px;
                    color: $linkColor;
                    margin-right: 10px;
                    background-color: $noAccentColor;

                    &:hover {
                        color: $linkColorActive;
                        background-color: $accentColor;
                    }
                }
            }
        }

        .contact-form {
            padding: 0 25px;

            .top-inputs {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-column-gap: 10px;

                .input-block {
                    position: relative;

                    input {
                        width: 100%;
                        font-size: 18px;
                        padding: 10px 15px;
                        border-radius: 25px;
                        background-color: $noAccentColor;
                        color: $textColor;
                        border: 1px solid transparent;
                        outline: none;

                        &:hover {
                            border: 1px solid $accentColor;
                        }

                        &:focus {
                            box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
                            border: 1px solid $accentColor;
                        }
                    }
                }
            }

            .input-block {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 60px;

                textarea {
                    width: 100%;
                    font-size: 18px;
                    padding: 10px 15px;
                    border-radius: 25px;
                    background-color: $noAccentColor;
                    color: $textColor;
                    border: 1px solid transparent;
                    outline: none;
                    resize: vertical;
                    min-height: 200px;

                    &::-webkit-scrollbar {
                        width: 0px;
                        background-color: $noAccentColor;
                    }

                    &:hover {
                        border: 1px solid $accentColor;
                    }

                    &:focus {
                        box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);
                        border: 1px solid $accentColor;
                    }
                }

                .error-message {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-width: 100px;
                    padding: 10px;
                    border-radius: 25px;
                    position: absolute;
                    top: -50px;
                    color: $textColor;
                    background-color: $errorBgColor;
                }
            }

            .send-message {
                display: flex;
                min-width: 250px;
                padding: 20px;
                margin-bottom: 25px;
                position: relative;
                justify-content: center;
                border: 1px solid $accentColor;
                border-radius: 2em;
                text-decoration: none;
                background-color: transparent;
                color: #ffffff;
                text-align: center;
                text-transform: uppercase;
                overflow: hidden;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 0%;
                    height: 100%;
                    transition: all 0.2s linear;
                    background-color: $accentColor;
                    z-index: -1;
                    border-radius: 10%;
                }

                &:hover {
                    box-shadow: 0px 0px 15px 3px rgba(255, 177, 10, 0.8);

                    &::before {
                        width: 110%;
                    }
                }

                .icon-block {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    padding: 21px;
                    border-radius: 50%;
                    background-color: $accentColor;
                }
            }
        }
    }

    .complite-message {
        margin: 25px 0;
        width: 100%;
        padding: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $textColor;
        font-size: 20px;
        border-radius: 25px;
        background-color: $compliteBgColor;
    }
}

// Contact page end

@media screen and (max-width: 1060px) {
    #about {

        .about-me-block {
            .about-info {
                grid-template-columns: 1fr;

                .info {
                    padding-bottom: 20px;
                }
            }
        }
    }

    #contact {
        width: 100%;

        .me-contact section {
            margin: 0 auto;
            width: 80%;
            grid-template-columns: 1fr;

            .info {
                margin-bottom: 60px;

                h3 {
                    text-align: center;
                }
            }

            .contact-form {
                padding: 0;
            }

        }
    }
}

@media screen and (max-width: 900px) {
    #header header {
        .desktop-menu {
            display: none;
        }

        .mobile-menu-block {
            display: block;
        }
    }

    .home {
        .color-bg-block {
            display: none;
        }

        .container main {
            padding-top: 50px;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;

            .img-block {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                border: 5px solid $noAccentColor;
                overflow: hidden;

                img {
                    object-fit: contain;
                    height: 120%;
                } 
                
            }

            .info {
                width: 100%;

                padding: 40px 0 0 0;
                text-align: center;

                .more-info-btn {
                    margin: 0 auto 25px auto;
                }
            }
        }
    }
}



@media screen and (max-width: 768px) {
    #about {
        .about-me-block {
            .me-skills {
                .skills-block {
                    .item {
                        width: 50%;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 650px) {
    #header header {

        .mobile-menu-block {

            .switch-menu__btn {
                top: 10px;
                right: 10px;
            }
        }
    }

    #about {
        .title-section {
            z-index: 1;
            position: fixed;
            background-color: $noAccentColor;
            padding: 22px;
            margin-bottom: 30px;

            h1 {
                font-size: 25px;
                position: static;
                transform: translateX(0);
            }

            .bg-title {
                display: none;
                font-size: 80px;
            }
        }

        .about-me-block {
            padding: 100px 15px 0 15px;

            .about-info {
                .achievements {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    #contact {
        .title-section {
            z-index: 1;
            position: fixed;
            background-color: $noAccentColor;
            padding: 22px;
            margin-bottom: 30px;

            h1 {
                font-size: 25px;
                position: static;
                transform: translateX(0);
            }

            .bg-title {
                display: none;
                font-size: 80px;
            }
        }

        .me-contact section {
            width: 100%;
            padding: 100px 15px 0 15px;

            .contact-form-block .contact-form {
                .top-inputs {
                    grid-template-columns: 1fr;
                }

                .input-block {
                    margin-bottom: 25px;
                }

                .error-message {
                    width: 200px;
                    position: static;
                    margin-bottom: 10px;
                }
            }

        }
    }
}

@media screen and (max-width: 420px) {
    #about {

        .about-me-block {
            .about-info {
                .info {
                    .presonal-info {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }
}